@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');


* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  padding: 0.125rem 0rem 0rem 8rem;
  
}
.cabecalho__menu {
  display:flex;
  gap: 80px;
  
}

.cabecalho__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color:#17e417;
  text-decoration: none;
  
  
}

body {
  box-sizing: border-box;
  background-color: hwb(240 100% 0%);
  color: #5d615d;
  /* height: 100vh; */
}

.titulo-destaque {
  color:black
}

.apresentacao {
  margin: 0.5rem 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 7rem;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: "Krona One", sans-serif;
  
}

.apresentacao__conteudo__paragrafo {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.apresentacaoSegundoParagrafo, .apresentacaoTerceiroParagrafo, .apresentacaoQuartoParagrafo, .apresentacaoQuintoParagrafo, .apresentacaoSextoParagrafo, .apresentacaoSetimoParagrafo, .apresentacaoOitavoParagrafo, .apresentacaoNonoParagrafo {
  text-indent: 40px;
}

.apresentacao__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.apresentacao__subtitulo {
   font-family: 'krona One', sans-serif;
   font-weight: 400;
   font-size: 1.5rem;
}

.apresentacao__link__botao {
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center; 
  gap: 1rem;
  border: 0.125rem solid #17e417;
  color: black;
  width: 50%;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.34375rem 0rem;
  margin-top: 1.25rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.apresentacao__link__botao:hover {
  background-color: darkgrey;
}

.apresentacao__imagem {
  width: 80%;
  margin-bottom: 70%;
  
}
.rodape {
  background-color: #17e417;
  color: aliceblue;
  padding: 1.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1034px) {
    .cabecalho {
      padding: 6%;
    }

    .cabecalho__menu {
      justify-content: center;
    }

   .apresentacao {
      flex-direction: column-reverse;
      padding: 5%;
     
    }
   
   .apresentacao__conteudo {
    width: auto;
   }

   .apresentacao__link__botao {
     padding: 1rem 1rem 1rem 1rem;
     width: 160px;

   }

   .apresentacao__imagem {
    padding: 1rem 1rem 1rem 2rem;
   }

   .apresentacao__conteudo {
    margin-top: 1%;
   }

   .apresentacao__subtitulo {
    font-size: 80%;
   }
}