@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');


* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  padding: 0.125rem 0rem 0rem 8rem;
  margin-left: 300px;
}
.cabecalho__menu {
  display:flex;
  align-items: center;
  gap: 60px;
  
  
}

.cabecalho__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color:#e49c17;
  text-decoration: none;
  
  
}

body {
  box-sizing: border-box;
  background-color: hwb(240 100% 0%);
  color: #5d615d;
  height: 100vh;
}

.titulo-destaque {
  color:black
}

.apresentacao {
  margin: 0.5rem 0.625rem;
  display: flex;
   align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}


.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 2rem;
}

.apresentacao__conteudo__titulo {
  font-size: 1.5rem;
  font-family: "Krona One", sans-serif;
 }

.apresentacaoParagrafos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apresentacao__conteudo__paragrafo {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  
}

.apresentacaoSegundoParagrafo, .apresentacaoTerceiroParagrafo, .apresentacaoQuartoParagrafo, .apresentacaoQuintoParagrafo, .apresentacaoSextoParagrafo, .apresentacaoSetimoParagrafo, .apresentacaoOitavoParagrafo, .apresentacaoNonoParagrafo {
  font-size: 0.8rem;
}

.apresentacao__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.apresentacao__subtitulo {
   font-family: 'krona One', sans-serif;
   font-weight: 400;
   font-size: 15px;
}

.apresentacao__link__botao {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
  color: black;
  width: 50%;
  border-radius: 0.5rem;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 0px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.apresentacao__link__botao:hover {
  color: #e49c17;
}



.apresentacao__imagem {
  width: 80%;
}


.rodape {
  background-color: #e49c17;
  color: aliceblue;
  padding: 1.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
}

.apresentacaoSobreMim {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 5%;
  
}

.apresentacaoConteudoSobreMim {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}

.apresentacaoConteudoTituloSobreMim {
  font-size: 1.5rem;
  font-family: "Krona One", sans-serif;
  
  
  
}

.apresentacaoConteudoParagrafoSobreMim {
  font-size: 0.8rem;
  
}

.apresentacaoImagemSobreMim {
  width: 45%;
}

@media (max-width: 1034px) {
    .cabecalho {
      height: auto;
      padding: 1%;
    }

    

   .apresentacao {
      flex-direction: row;
      justify-content: center;
      
      padding: 5%;
     
    }
   
    .apresentacao__link__botao {
     padding: 1rem 1rem 1rem 1rem;
     width: 160px;

   }

   .apresentacao__imagem {
    padding: 1rem 1rem 1rem 2rem;
    
   }

   .apresentacao__conteudo {
    margin-top: 1%;
   }

   .apresentacao__subtitulo {
    font-size: 80%;
   }
}

@media (max-width: 768px) {
   .body {
    height: 100vh; 
    }

    .cabecalho {
      margin-left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .apresentacao {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      
    }

    .apresentacao__link__botao {
      padding: 1rem 1rem 1rem 1rem;
      
    }


}